# Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Tavily
TAVILY_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Server
HOST=0.0.0.0
PORT=8000
